
{% extends 'base.html' %}

{% block head %}
    {% load static %}
    <link rel="stylesheet"
          href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{#    <script src="{% static 'js/inventory/delete_inventory_dialog.js' %}"></script>#}
    <script src="{% static 'js/inventory/share_element_btn.js' %}"></script>
    <script src="{% static 'js/delete_element.js' %}"></script>
    <script src="{% static 'js/shopping_cart/create_shopping_cart_from_container.js' %}"></script>

{% endblock %}

{% block content %}

    Contenido de una Lista

    <a href="{% url 'shopping_carts' %}">Volver a mis listas</a>


    <button id='share-object' data-url="{% url 'share_shopping_cart' %}" class="btn
        btn-colored btn-primary" prefix="code" value="{{ shopping_cart.pk }}">
        Obtener codigo para compartir lista de compras
    </button>
    <div>
        {% if codes %}
            <ul class="code-list">
                {% for code in codes %}
                    <li>
                    <p style="display: inline-block"
                       id="{{ code }}">{{ code }}</p>
                    <button onclick="copyToClipboard('#{{ code }}')"><i class="far
                fa-copy"></i></button>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    {% include 'dialogs/delete_element_dialog.html' with prefix='shopping-cart' target_url=url_delete_this value=shopping_cart.pk btn_content='Eliminar Lista' content='¿Desea eliminar esta lista? La información no podrá ser recuoerada'%}

    {% for username in shopping_cart.usernames %}
        <div>
            <p>
                {{ username }}
            </p>
        </div>
    {% endfor %}

    {% include "add_item_dialog.html" with prod_form=product_form view_add_url=url_add pk=shopping_cart.pk%}


    {% if items.count == 0 %}
        <p>No productos en esta lista.</p>
    {% else %}
        <ul>
            {% for item in items %}
                <li>
                    <p>
                        {{item}}
                        {% include 'dialogs/delete_element_dialog.html' with prefix='product' target_url=url_delete_product value=item.pk btn_content='X' conent=''%}
                    </p>
                </li>
            {% endfor %}

        </ul>
    {% endif %}

    {% include 'shopping_cart/create_from_inventory.html' with target_url=url_fill_shopping_cart items=items containers=shopping_carts related_container=shopping_cart.pk%}

{% endblock %}



