{% extends 'base.html' %}
{% load static %}

{% block head %}
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet"
          href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="{% static 'js/ajax_dialog_form.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/dialog_jq.css' %}">
{% endblock %}

{% block title %}

{% endblock %}

{% block content %}
    Pagina principal de la despensa

{#    Formulario para crear nuevo inventario#}
    <button id='new-inventory' class="btn btn-colored btn-primary">Crear nueva
        despensa</button>
    <div id="inventory-form-wrapper" title="Crear nueva despensa">
        <form id="inventory-form" method="post">
            {% csrf_token %}
            <div class="fieldWrapper">
                {{ form.name }}
                <div id="results"></div>
            </div>
        </form>
    </div>

    {#    Muestra los inventarios existentes#}
    <div class='row-inventories'>
        <ul id="inventory-list">
            {% if inventories.count == 0 %}
                <li>
                    <p>No tienes despensas creadas</p>
                </li>
            {% else %}
                {% for inventory in inventories %}
                    <li>
                        <div>
                            <a href="{{ inventory.get_absolute_url }}">{{ inventory }}</a>
                            <p>{{ inventory.count_items }} items</p>
                            <p>{{ inventory.count_users }} user(s)</p>
                        </div>
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
    </div>

{% endblock %}