{% extends 'base.html' %}
{% load static %}

{% block head %}
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet"
          href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script src='{% static 'js/dialog_jq.js' %}'></script>
    <link rel="stylesheet" href="{% static 'css/dialog_jq.css' %}">
{% endblock %}

{% block title %}

{% endblock %}

{% block content %}
    Pagina principal de la despensa

    {% if inventories.count == 0 %}
        <div>
            <p>No tienes despensas creadas</p>
        </div>
    {% else %}
        <ul>
            {% for inventory in inventories %}
                <li>
                    <div>
                        <a href="{{ inventory.get_absolute_url }}">{{ inventory }}</a>
                        <p>{{ inventory.count_items }} items</p>
                        <p>{{ inventory.count_users }} user(s)</p>
                    </div>

                </li>
            {% endfor %}
        </ul>

    {% endif %}

    {% include 'dialogs/dialog_shared_object.html' with object='despensa' %}

    {#    {% include 'dialogs/dialog_shared_object.html' %}#}
{% endblock %}