{% extends 'base.html' %}

{% block head %}
    {% load static %}
    <link rel="stylesheet"
          href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{#    <script src="{% static 'js/inventory/delete_inventory_dialog.js' %}"></script>#}
    <script src="{% static 'js/inventory/share_element_btn.js' %}"></script>
    <script src="{% static 'js/delete_element.js' %}"></script>

{% endblock %}

{% block content %}

    Contenido de una Despensa

    <a href="{% url 'inventories' %}">Volver a mis inventarios</a>


        <button id='share-object' data-url="{% url 'share_inventory' %}" class="btn
        btn-colored btn-primary" prefix="code" value=
                "{{ inventory.pk }}">Obtener
            codigo para compartir despensa</button>
    <div>
        {% if codes%}
            <ul class="code-list">
            {% for code in codes %}
                <li><p style="display: inline-block" id="{{ code }}">{{code }}</p>
                <button onclick="copyToClipboard('#{{ code }}')"><i class="far
                fa-copy"></i></button>
                </li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>

    {% include 'dialogs/delete_element_dialog.html' with prefix='inventory' target_url=url_delete_this value=inventory.pk btn_content='Eliminar Depsensa' content='¿Desea eliminar esta lista? La información no podrá ser recuperada'%}

{#    <button prefix='inventory' id='delete-inventory-btn' data-url="#}
{#    '{% url 'delete_inventory' %}" class="btn#}
{#    btn-colored btn-primary" value={{ inventory.pk }}>#}
{#        Eliminar esta despensa#}
{#    </button>#}
{#    <div id="delete-inventory-dialog" title="Eliminar Inventario">#}
{#        <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px#}
{# 20px 0;"></span>Esta despensa será completamente eliminada y no podrá ser#}
{#            recuperada. ¿Deseas eliminarla?</p>#}
{#    </div>#}

    {% for username in inventory.usernames %}
        <div>
            <p>
                {{ username }}
            </p>
        </div>
    {% endfor %}

    {% include "add_item_dialog.html" with prod_form=product_form view_add_url=url_add pk=inventory.pk%}



    {% if items.count == 0 %}
        <p>No tienes alimentos en esta despensa</p>
    {% else %}
        <ul>
            {% for item in items %}
                <li>
                    <p>
                        {{item}}
                        {% include 'dialogs/delete_element_dialog.html' with prefix='product' target_url=url_delete_product value=item.pk btn_content='X' conent=''%}
                    </p>
                </li>
            {% endfor %}

        </ul>
    {% endif %}

{% endblock %}



