Contenido de una Despensa

<a href="{% url 'inventories' %}">Volver a mis inventarios</a>

{% for username in inventory.usernames %}
    <div>
    <p>
        {{username}}
    </p>
    </div>
{% endfor %}



{% if items.count == 0 %}
    <p>No tienes alimentos en esta despensa</p>
    {% else %}
        <ul>
            {% for item in items %}
                <li>
                    <p>
                        item
                    </p>
                </li>
            {% endfor %}

        </ul>
{% endif %}

