{% extends 'base.html' %}


{% block head %}

{% endblock %}


{% block title %}

{% endblock %}


{% block content %}
{% if user.is_authenticated %}
    <p>Bienvenido {{ user.get_username }}</p>
    <div class="logout">
    <a href= {% url 'logout' %}>Cerrar sesión</a>
    </div>


    {% if user.is_staff %}
        <div class="content_block">
        <a href= {% url 'review_recipes' %}>Revisar recetas</a>
        </div>
    {% endif %}
{% endif %}

    <a href={% url 'profile' %}>Mi perfil</a>

    <div class="content-block">
    <a href="{% url 'recipe_book' %}">Explorar recetas</a>
    </div>

    <div class="content-block">
    <a href="{% url 'inventories' %}">Ver Despensas</a>
    </div>

    <div class="content-block">
    <a href="{% url 'shopping_carts' %}">Listas de compras</a>
    </div>


{% endblock %}


